@import '../../styles/mixins';

.menuDetailContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: var(--brand-background);
  z-index: 10;
  display: flex;
  flex-direction: column;

  > * {
    z-index: 2;
  }
  
  .texture {
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    background: url(../../assets/textura.png) repeat 0 10%;
    background-size: cover;
    opacity: 0.4;
    z-index: 1;
  }

  .localNavContainer {
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: #52524d;
    overflow-x: auto;
    display: flex;
    align-items: center;
    height: 44px;

    @include bp('small') {
      height: 60px;
    }
    @include bp('medium') {
      height: 42px;
    }

    .localNav {
      width: fit-content;
      margin-inline: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
      padding-inline: 16px;

      @include bp('small') {
        gap: 16px;
      }

      button {
        border: 0;
        background-color: transparent;
        border-radius: 0px;
        height: 26px;
        padding-top: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--helvetica-font);
        border-bottom: 2px solid transparent;
        color: #ebebe6;
        font-size: 16px;
        line-height: 26px;
        transition: _ 0.4s ease-out;
        transition-property: color, border-bottom-color;
        white-space: nowrap;

        @include bp('small') {
          font-size: 18px;
        }

        @include bp('medium') {
          font-size: 16px;
        }

        &.active {
          color: var(--brand-yellow);
          border-bottom-color: var(--brand-yellow);
        }
      }
    }
  }

  .content {
    position: relative;
    flex-grow: 1;
    overflow: auto;
  }
}
