@import '../../styles/mixins';

.menuItem {
  margin: 16px 0 0;
  border-bottom: 1px solid var(--white);

  @include bp('small') {
    margin: 24px 0;
  }

  @include bp('medium') {
    margin: 16px 0;
  }

  .firstRow,
  .secondRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  .secondRow {
    margin-bottom: 16px;
    align-items: flex-start;
    gap: 24px;
  }

  .menuItemName {
    font-family: var(--lato-font);
    color: var(--brand-yellow);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    position: relative;
  }

  // .listOfItems {
  //   font-family: var(--dorchester-display-font);
  //   color: var(--brand-yellow);
  //   font-size: 2.2rem;
  //   line-height: 1.8rem;
  //   display: flex;
  //   justify-content: flex-start;
  //   gap: 0.5rem 1.6rem;
  //   flex: 1 1 100%;
  //   letter-spacing: 0.02rem;
  //   flex-wrap: wrap;

  //   [class~=product] {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: flex-start;
  //     align-items: flex-end;

  //     small {
  //       font-size: 0.6em;
  //       margin-top: -2px;
  //     }
  //   }
  // }

  .menuItemPrice {
    position: relative;
    flex-basis: 60px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 100%;
      position: absolute;
      inset: 0;
      height: 100%;
      transform: scaleY(1.5);
      transform-origin: center 40%;
    }

    span {
      position: relative;
      font-family: var(--lato-font);
      font-size: 20px;
      font-weight: 800;
      line-height: 24px;
      color: var(--black);
    }
  }

  .menuItemDescription {
    font-family: var(--lato-font);
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 0 100%;

    .spanish {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      color: var(--white);
    }

    .english {
      font-size: 13px;
      line-height: 15px;
      font-weight: 400;
      color: #c1c1c1;
      font-style: italic;
    }

    @include bp('small') {
      flex-shrink: 1;

      p:first-child {
        margin-top: 0;
      }
    }
  }

  &.darkText {
    border-color: var(--dark-text);

    .menuItemName,
    .menuItemDescription {
      color: var(--dark-text);
      .spanish,
      .english {
        color: var(--dark-text);
      }
    }
  }
}
