.container {
  width: 100%;
  height: 100lvh;
  overflow: hidden;
  position: fixed;

  img {
    width: 102%;
    height: 102%;
    object-fit: cover;
    position: absolute;
    inset: 0;
  }
}

img.mainBackground {
  object-position: 37% 70%;
  z-index: 1;
  opacity: 0.9;
}

.texture {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 2;
  background: url(../../assets/textura.png) repeat 0 10%;
  background-size: cover;
  opacity: 0.5;
}
