.badge {
  display: inline-block;
  position: relative;
  width: 2.3rem;
  color: var(--black);
  font-size: 0.7rem;
  letter-spacing: 0.04rem;
  margin-left: 8px;

  svg {
    position: absolute;
    width: 120%;
    z-index: -1;
    transform: scaleY(3);
  }
}

.labelBox {
  transform: rotate(-30deg) translateY(-0.35rem) translateX(0.8rem);
}

.label {
  display: inline-block;
}
