@import 'mixins';

:root {
  // colors
  --brand-yellow: #ffdf05;
  --white: #fff;
  --brand-background: #1C1C1C;
  --black: #000;
  --dark-text: #292927;
  --light-text: #fafaf9;
  --content-overlay-hero: #1c1c1cbf;
  --content-overlay: #1c1c1ccc;

  --max-width: 1100px;
  --border-radius: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  color: var(--white);
  background-color: var(--brand-background);
}

a {
  color: inherit;
  text-decoration: none;
}

.hide-on-xsmall {
  display: none !important;
}

.hide-on-small {
  @include bp('small') {
    display: none !important;
  }
}

.hide-on-medium {
  @include bp('medium') {
    display: none !important;
  }
}

.hide-on-large {
  @include bp('large') {
    display: none !important;
  }
}

.show-on-small {
  @include bp('small') {
    display: inherit !important;
  }
}

.show-on-medium {
  @include bp('medium') {
    display: inherit !important;
  }
}

.show-on-large {
  @include bp('large') {
    display: inherit !important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
