@import "mixins";

.wrapper {
  opacity: 0;
  transition: opacity 300ms ease-out;

  &[class~='is-visible'] {
    opacity: 1;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;

  .logo {
    width: 200px
  }

  span {
    font-family: var(--gotham-bold-font);
    font-size: 2.8rem;
    padding-left: 2rem;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0.4rem;
      top: 50%;
      width: 0.4rem;
      aspect-ratio: 1;
      border-radius: 100px;
      background-color: currentColor;

    }

  }

  .separator {
    position: absolute;
    left: 50%;
    bottom: -0.8rem;
    transform: translateX(-50%);

    @include separator(80%);
  }

  @include bp("small") {
    margin-top: 1.5rem;

    .logo {
      width: 25%;
      max-width: 200px;
    }

    span {
      font-size: 3.4rem;
      padding-left: 2.4rem;

      &::before {
        left: 0.7rem;
        top: 50%;
        width: 0.5rem;
      }
    }
  }
}

.scrollspy {
  white-space: nowrap;
  width: 100%;
  background-color: var(--brand-background);
  position: sticky;
  top: 0;
  overflow-x: scroll;
  z-index: 2;
  text-align: center;

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }

  @media print {
    display: none;
  }
}

.navItem {
  padding: 1.3rem 0.2rem 1.6rem;
  margin: 0 1rem;
  font-size: 1rem;
  color: var(--white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--gotham-bold-font);
  position: relative;
  user-select: none;
  background-color: var(--brand-background);
  border: 0;
  cursor: pointer;


  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  @include bp("small") {
    padding: 1.5rem 0.4rem 1.8rem;
    font-size: 1.1rem;
  }
}

.navItem:after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--brand-background);
  background-color: var(--brand-yellow);
  border-radius: 3px 3px 0 0;
  opacity: 0;
  transition: opacity 0ms ease-out;
}

.current:after {
  transition-duration: 10ms;
  opacity: 1
}

.menuCategory {
  margin-top: 2rem;

  @include bp("small") {
    margin-top: 5rem;
  }
}

.menuCategoryName {
  max-width: 480px;
  color: var(--white);
  letter-spacing: 0.08rem;
  width: 100%;
  aspect-ratio: 4.8 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto -0.8rem;

  svg {
    width: 100%;
  }

  &[class~=text] {
    font-family: var(--dorchester-display-font);
    font-size: 3.4rem;
    letter-spacing: 0.15rem;
    margin-bottom: 0.5rem;
    display: block;
    aspect-ratio: initial;
    width: fit-content;
    max-width: initial;
    transform-origin: top center;
    text-overflow: ellipsis;

    small {
      font-size: 0.5em;
    }
  }
}


.separator {
  @include separator(30%);
}
