@import '../../styles/mixins';

.navbar {
  width: calc(100% - 32px);
  max-width: 368px;
  height: 64px;
  border-radius: 64px;
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--brand-background);
  border: 1px solid var(--light-text);
  box-shadow: 0px 3px 8px 4px #00000008, 0px 20px 24px 4px #00000033;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8px;


  .button {
    width: 87px;
    height: 48px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    color: var(--light-text);
    background-color: transparent;
    border-width: 0;
    position: relative;
    z-index: 2;
    transition: color 300ms ease-out;

    svg {
      height: 20px;
      width: auto;
      fill: var(--light-text);
      transition: fill 300ms ease-out;
    }

    span {
      font-size: 12px;
      line-height: 17px;
      font-family: var(--dm-sans-font);
      font-weight: 500;
    }

    &.active {
      color: var(--brand-background);
      svg {
        fill: var(--brand-background);
      }
    }
  }

  .indicator {
    width: 87px;
    height: 48px;
    border-radius: 48px;
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: var(--brand-yellow);
    z-index: 1;
  }
}
