@import "./../../styles/mixins";

.footer {
  margin-top: 3rem;
  font-size: 1.3rem;
  font-family: var(--gotham-bold-font);
  text-align: center;

  p svg {
    vertical-align: middle;
    font-size: 1.6rem;
    margin-right: 0.4rem;
  }

  p:last-child {
    margin-top: 1rem;
  }

  a:hover {
    text-decoration: underline;
  }

  @include bp("small") {
    margin-top: 6rem;
  }
}

.firstLine {
  font-size: 1.8rem;
}

.socialNetworksBox {
  color: var(--brand-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2.3rem 0;
  gap: 2rem;
}

.socialNetwork {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  [class='icon-wrapper'] {
    padding: 0.4rem;
    border-radius: 200px;
    border: 1px solid currentColor;
    line-height: 0;
  }
}

.separator {
  @include separator(80%);

  margin-bottom: 2rem;

  @include bp('small') {
    margin-bottom: 4rem;
  }

}
