@import "./../../styles/mixins";

.footer {
  margin-top: 3rem;
  font-size: 1.3rem;
  font-family: var(--gotham-bold-font);
  text-align: center;

  p {
    margin: 2rem 0;
  }

  p svg {
    vertical-align: middle;
    font-size: 1.6rem;
    margin-right: 0.4rem;
  }

  p:last-child {
    margin-top: 1rem;
  }

  a:hover {
    text-decoration: underline;
  }

  @include bp("small") {
    margin-top: 6rem;
  }
}

.firstLine {
  font-size: 1.8rem;
}

.socialNetworksBox {
  color: var(--brand-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2.3rem 0;
  gap: 2rem;
}

.separator {
  @include separator(80%);

  margin-bottom: 2rem;

  @include bp('small') {
    margin-bottom: 4rem;
  }
}

.deliveryPartnersTitle {
  font-size: 1.4rem;
  ;
}

.deliveryPartnersBox {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;

  @include bp('small') {
    column-gap: 60px;
  }

  @include bp('medium') {
    column-gap: 80px;
  }


  a {
    transition: all 200ms ease-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  img {
    border-radius: 100px;
  }
}
