.wrapper {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;

  svg {
    width: 40%;
    animation: pulse 7200ms linear infinite;
    max-width: 240px;
  }
}

@keyframes pulse {
  50% {
    transform:  rotate(180deg);
  }
  to{transform: rotate(360deg)}
}
