@import './../../styles/mixins';

.footer {
  display: flex;
  flex-direction: column;

  @include bp('medium') {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1170px;
    margin-inline: auto;
    gap: 32px;
    min-height: calc(100vh - 103px);
  }
}

.locations {
  padding-top: 48px;

  @include bp('medium') {
    width: calc(50% - 18px);
  }

  .locationsTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imageWrapper {
    margin-top: 40px;
    width: 100%;
    aspect-ratio: 1.777;
    position: relative;

    img {
      object-fit: contain;
      border-radius: 5px;
    }

    @include bp('small') {
      margin-top: 20px;
    }
  }
}

.delivery {
  padding-top: 48px;

  @include bp('medium') {
    width: calc(50% - 18px);
    align-self: flex-end;
  }

  .deliveryTitle {
    margin-left: 0;
    @include bp('medium') {
      margin-inline: auto;
    }
  }

  .layoutWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 40px;

    @include bp('medium') {
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .deliveryPlatformsList {
    max-width: 520px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    width: 100%;

    @include bp('small') {
      margin-bottom: 40px;
      flex-direction: row;
    }

    @include bp('medium') {
      margin-bottom: 0px;
      flex-wrap: nowrap;
    }
  }

  .imageWrapper {
    width: 66%;
    max-width: 240px;
    margin-left: -20px;
    aspect-ratio: 0.653;
    position: relative;

    @include bp('small') {
      margin-left: -10%;
    }

    @include bp('medium') {
      margin-bottom: 32px;
      margin-inline: auto;
    }

    img {
      object-fit: contain;
      border-radius: 5px;
    }
  }
}
